*{
    padding:0px;
    margin:0px;
}
body{
    color: rgb(68, 68, 68);
}
header{
    background-color: rgb(247, 247, 247);
    width: 900px;
    height: 72px;
    margin:0px auto;
    display: flex;
 
    
}

.logo img{
    width: 72px;
    height: 72px;
    margin:0px 1px
   
}

h1{
    line-height: 72px;
    margin-left: 20px;
    color: black;
}

nav{
    height: 30px;
    background-color: #174897;
}
nav ul{
    position: relative;
    margin:0px auto;
    width: 900px;
    display: flex;
    flex-wrap: nowrap;
      
}

nav li{
    
    flex: 1;
    
    list-style: none;
}



nav li a{
    display:block;
    width: 100%;
    color: white;
    line-height: 30px;
    text-align: center;
    text-decoration: none;

}

nav li a:hover{
    background-color: #00eeff;
    color: rgb(14, 14, 14);
}


main{
    width: 900px;
    height: 450px;
    margin:0px auto;

    /* border: 1px solid #000;
    border-top:none;border-bottom:none; */
    box-shadow:0px 0px 2px black;
}


footer{
    color: white;
    width: 900px;
    height: 180px;
    margin:0px auto;
    background-color: #174897;
}